<section class=" py-5 container card shadow" data-bs-theme="dark">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-4">

        <%= image_tag @fotoPaolo , alt: "Paolo Cordova", class: "img-fluid rounded pb-3" %>
      </div>
      <div class="col-md-8">
        <h1>I am Paolo Cordova</h1>
          <p>
          A full-stack force of nature, I craft dynamic websites with the precision of a seasoned developer and the curiosity of a physics whiz.
          My current thesis on a physics engineering degree hones my ability to tackle complex problems head-on,
          while my mastery of Ruby on Rails, Javascript, and Postgresql lets me translate that problem-solving prowess into beautifully functional creations.
          This very website, built with my own two hands, serves as a testament to my full-stack expertise. I'm not just code and algorithms, though; I'm an API whisperer, an AWS guru, and a certified brainiac with a passion for building awesome things.
          So, if you're looking for a developer who can think outside the box, code inside the lines, and bring your vision to life, look no further! Let's build something extraordinary together.        
          </p>
          <p>
          Como una fuerza de la naturaleza completa, creo sitios web dinámicos con la precisión de un desarrollador experimentado y la curiosidad de un físico.
          Mi tesis actual en una carrera de ingeniería física perfecciona mi capacidad para abordar problemas complejos de frente,
          mientras que mi dominio de Ruby on Rails, Javascript y Postgresql me permite traducir esa destreza para resolver problemas en creaciones bellamente funcionales.
          Este mismo sitio web, creado con mis propias manos, es un testimonio de mi experiencia completa. Pero no soy sólo código y algoritmos; Soy un susurrador de API, un gurú de AWS y un cerebrito certificado con una pasión por crear cosas increíbles. Entonces, si está buscando un desarrollador que pueda pensar de manera innovadora,
          codificar dentro de las líneas y hacer realidad su visión, ¡no busque más! Construyamos juntos algo extraordinario.
          </p>
      </div>
    </div>

  </div>

</section>

<section class="my-4 py-4 container bg-dark-sm rounded pb-5">
  <h3 class="text-center py-3 " style="color:white;" >My Main Stack</h3>
  <div class="row gy-5 gx-1 gx-sm-3">
    <div class="col-sm-6  col-lg-4" >
   <%= render partial: "shared/card", locals: { image_url: @rails,
   title: "Ruby On Rails",
   alt_text: "Ruby-On-Rails-svg",
   description: "I am software developer specialized in RoR development for web apps, I have a bootcamp certification of 460 hrs besides this site that is built with RoR "
   }
  %>
    </div>
  <div div class="col-sm-6  col-lg-4" >
   <%= render partial: "shared/card", locals: { image_url: @conversation,
   title: "Social skills",
   alt_text: "conversation-svg",
   description: "I am developer scialized in rails development for web apps"

   }
  %>
  </div>
  <div class="col-sm-6 col-lg-4" >
   <%= render partial: "shared/card", locals: { image_url: @js,
   title: "Javascript",
   alt_text: "javascript-svg",
   description: "I am developer scialized in rails development for web apps"

   }
  %>
    </div>
  <div class="col-sm-6 col-lg-4" >
   <%= render partial: "shared/card", locals: { image_url: @bootstrap,
   title: "Bootstrap",
   alt_text: "Bootstrap-svg",
   description: "I am developer scialized in rails development for web apps"

   }
  %>
  </div>
  <div class="col-sm-6  col-lg-4" >
   <%= render partial: "shared/card", locals: { image_url: @postgresql,
   title: "PostgreSQL",
   alt_text: "postgresql-svg",
   description: "I am developer scialized in rails development for web apps"

   }
  %>
    </div>
    <div class="col-sm-6  col-lg-4">
   <%= render partial: "shared/card", locals: { image_url: @git,
   title: "Git",
   alt_text: "github-svg",
   description: "Am a advanced level developer in javascript lang including ecmascript 6+"
   }
  %>
  </div>
  
  
  
    


</section>

<section class="container card text-center " data-bs-theme="dark" >
    <h2  class="justify-content py-3" >Soft Skills And Tools I've worked with</h2>
    <div class="row lists"  >
      <ul class="col-md  ">
        <h3  >Soft Skills</h3>
        <li class="slideUp py-1" >Problem Solving</li>
        <li class="slideUp py-1" >Team Player</li>
        <li class="slideUp py-1" >Fast Learning</li>
        <li class="slideUp py-1" >Fluent English(Spoken and Written)</li>
        <li class="slideUp py-1" >Spanish(Native)</li>
        <li class="slideUp py-1" >Methodical</li>
      </ul>

        <ul class="col-md ">
          <h3 class="" >Tools</h3>
        <li class="slideUp py-1">Slack</li>
        <li class="slideUp py-1">Git</li>
        <li class="slideUp py-1">Excel</li>
        <li class="slideUp py-1">Github</li>
        <li class="slideUp py-1">Logical Thinking</li>
      </ul>

    </div>
  </section>




