<section class=" py-5 container card shadow" data-bs-theme="dark">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-4">

        <%= image_tag "Photo.jpg", alt: "Paolo Cordova", class: "img-fluid rounded pb-3" %>
      </div>
      <div class="col-md-8">
        <h1>Tu Nombre</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente eos
          nulla neque id, dolores voluptas, sed distinctio cupiditate explicabo
          nostrum esse. Vel fugit, error placeat officiis repudiandae dolores
          enim minus. Sapiente commodi natus nulla in, est repudiandae facilis
          officiis numquam. Ex enim quis aut minima voluptas maiores quidem
          dolor veritatis, error provident! Dolores, reiciendis. Vitae, aliquid
          mollitia. Molestiae, repudiandae optio. Repellat, sunt. Quod voluptas
          eos minima fugit, exercitationem ipsa voluptatibus magni doloribus
          ipsum obcaecati quo alias ipsam voluptatem. Odit repellendus nihil,
          quaerat blanditiis quo culpa officiis unde autem iste accusamus.
          Nisi, libero repudiandae asperiores velit minus cupiditate neque
          delectus suscipit rerum quod, consectetur earum quae quasi
          temporibus, natus nulla esse. Repellendus temporibus dolorum fugit
          minima porro totam, a sed voluptatem. Fugiat id laborum consequuntur
          aliquid odio soluta, beatae accusamus aut facilis, eveniet eaque
          repudiandae doloribus excepturi ratione sit provident quas. Error
          autem numquam deleniti aliquid cumque voluptate minima reprehenderit
          perferendis!
        </p>
      </div>
    </div>

  </div>

</section>

<section class="container py-4">
  <div class="row">
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="row justify-content-sm-center justify-content-md-between ">
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col-md-4" style="width: 18rem;">
      <%= image_tag "js" %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the
          bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</section>